air {
	tags: passthrough
	color: #9bd7e8
	key: a
}

sand {
	tags: solid, fallable, pileable
	color: #f2d994
	variance: 5%, 5%, 10%
	key: s
}

stone {
	tags: solid, fallable
	color: #808080, 
	variance: 2%, 1%, 10%
	key: x
}

water {
	tags: fallable, pileable, liquid
	color: #0080ff
	variance: 10%, 10%, 5%
	key: w
}

rule (f: fallable, 0: passthrough) {
	f
	0
	=>
	0
	f
}

rule x (p: pileable, s: solid, 0: passthrough) {
	p.
	s0
	=>
	0.
	sp
}

rule x (l: liquid, a: liquid, 0: passthrough) {
	l0
	a.
	=>
	0l
	a.
}

rule x (l: liquid, s: solid, 0: passthrough) {
	l0
	s.
	=>
	0l
	s.
}

rule 20% (l: liquid, f: fallable) {
	f
	l
	=>
	l
	f
}
